// COLOR PALETTE
$main-clr: #42ABA7;
$black: #525359;
$muted: #707177;
$clr3: #324B4B;




// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


//Page Side Padding 
$main-padding: 0 6.25rem;