.app-header {
    .logo-container {
        width: 150px;
    }
    &.relative-pos {
        position: relative;
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $main-padding;
    nav {
        color: white;
        font-size: 20px;
        a {
            color: white;
        }
    }
}
