.app-header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $main-padding;
    .btn-menu {
        display: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
        font-size: 23px;
    }
    img.user-avatar {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
        transition: 0.2s;
    }
    img.user-avatar:hover {
        box-shadow: 0 0 0 1pt white;
    }
    .user-options-container {
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.301);
        border-radius: 1rem;
        top: 70px;
        justify-content: space-evenly;
        width: 220px;
        right: 100px;
        height: 13rem;

        button a {
            text-decoration: none;
        }
        .option-item{
            &.logout{
                cursor: pointer;
            }
            width: 100%;
            padding: 5px 15px;
            transition: .2s;
            &:hover{
                background-color: rgba(223, 223, 223, 0.712);
            }
        }

        & > * {
            color: $black;
        }
    }
    .logo-container {
        width: 150px;
    }

    nav {
        z-index: 3;
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        a{
            margin-right: 10px;
        }
        button {
            background-color: transparent !important;
            display: inline-block;
            font-size: 16px;
            color: white;
            padding: 10px;
            transition: 0.2s;
            outline: none;
            span {
                text-transform: uppercase;
                font-size: 15px;
            }
            span::after {
                content: "";
                width: 0px;
                height: 1px;
                display: block;
                background: white;
                transition: 300ms;
            }

            span:hover::after {
                width: 100%;
            }
        }

        a {
            color: white;
        }

        .btn-menu-close {
            display: none;
            padding: 0;
            margin: 0;
            line-height: 40px;
            font-size: 40px;
            height: 50px;
            text-align: left;
            padding-left: 10px;
            margin-bottom: 20px;
  
            i {
                height: 35px;
            }
        }
    }
}

.scrollClass {
    background-color: white !important;
    color: $main-clr !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    button {
        box-shadow: none;
        color: $main-clr !important;
        span::after {
            content: "";
            width: 0px;
            height: 1px;
            background: $main-clr !important;
            display: block;
            transition: 300ms;
        }

        span:hover::after {
            width: 100%;
        }
    }
    img.user-avatar:hover {
        box-shadow: 0 0 0 1pt $main-clr;
    }
}

.staticPos {
    position: static;
}
