.login-signup{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #f3f3f3;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    form {
        width: 25rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 10px;
        input {
            width: 100%;
            height: 30px;
            margin-bottom: 5px;
            padding-left: 30px;
        }
        button {
            height: 30px;
        }
    }
}
