.tour-details {
    margin: 0 auto;
    background-color: rgba(250, 241, 241, 0.616);
    height: 100%;
    display: grid;

    .add-review-container {
        margin-inline-start: rem(100px);
        width: 30%;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            textarea {
                height: 190px;
                width: 100%;
                resize: none;
                font-family: OpenSans, serif;
                color:black;
                margin-bottom:5px;
                border-radius:14px;

            }

            button {
                width: 30%;
                align-self: center;
            }
        }
    }

    .review-list {
        display: flex;
        flex-direction: column;
        margin-inline-start: rem(100px);
        margin-inline-end: rem(100px);

        h2 {
            margin-top: rem(10px);
            margin-bottom: rem(10px);
            text-transform: capitalize;
            font-family: OpenSans, serif;
            text-decoration: underline;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        }

        li {

            width: 40%;
        }

        .review {
            width: 50%;
            background-color: rgba(221, 220, 220, 0.459);
            margin-bottom: rem(10px);
            padding: rem(10px);
            border-radius: 14px;

            .ranks-txt {
                display: flex;
                justify-content: space-between;

                h3 {
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }

            .mini-user {
                display: flex;

                .mini-user-img {
                    width: 40px;
                    height: 40px;
                    margin: 5px 5px 5px 0;
                    @include aspect-ratio(100, 100);

                    img {
                        border-radius: 50%;
                    }
                }

                .mini-user-details {
                    p {

                        display: flex;
                        flex-direction: column;
                    }
                }

            }

        }

    }

    .details-container-primary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            margin-inline-start: 110px;
        }
    }

    .images-container {
        margin: 0 auto;
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .375rem;
        grid-template-areas:
            "first-img first-img img-2 img3"
            "first-img first-img img4 img4"
            "first-img first-img . ."
            "first-img first-img . .";
    }

    .first-img {
        grid-area: first-img;

        img {
            height: 96%;
            object-fit: cover;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

    }

    .img-2 {
        grid-area: img-2;

        img {
            height: 100%;
        }

    }

    .img3 {
        grid-area: img3;

        img {
            height: 100%;
            border-top-right-radius: 12px;
        }

    }

    .img4 {
        grid-area: img4;

        img {
            border-bottom-right-radius: 10px;
        }
    }

    .order-details-container {
        display: flex;
        justify-content: space-between;
        margin-inline-end: rem(100px);
        margin-inline-start: rem(100px);
        height: 500px;

        .details-container-secondry {
            background-color: rgba(172, 168, 168, 0.151);
            border-radius: 14px;
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            line-height: 40px;

        }

        .tour-order {
            background-color: rgba(172, 168, 168, 0.151);
            border-radius: 14px;
            height: 70%;
            width: 40%;

            form {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 10px;
                margin-right: 10px;

                button {
                    width: 50%;
                    align-self: center;
                }
            }

            textarea {
                resize: none;
            }
        }
    }
}