.review-list {
    display: flex;
    flex-direction: column;
    h2 {
        color: rgb(41, 41, 41);
    }

    .tour-review {
        margin: 0;
        
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin-right: 10px;




                .review {
                    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
                    border: 1px solid lightgray;
                    width: 400px;
                    height: 150px;
                    margin-bottom: rem(10px);
                    padding: rem(10px);
                    border-radius: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    .ranks-txt {
                        display: flex;
                        flex-direction: column;
                        h3 {
                            font-size: 14px;
                            text-transform: capitalize;
                        }

                        i {
                            color: #42ABA7;
                            text-shadow: 0 1px 0 rgb(22, 21, 21);
                        }

                        .review-rate {
                            display: flex;
                            justify-content: center;
                            margin-left: rem(-100px);
                            span {
                                font-size: rem(14px);
                                color: $muted;
                            }
                        }
                    }

                    .mini-user {
                        display: flex;
                        .mini-user-img {
                            width: 40px;
                            height: 40px;
                            margin: 5px 5px 5px 0;
                            @include aspect-ratio(100, 100);
                            img {
                                border-radius: 50%;
                            }
                        }

                        .mini-user-details {
                            display: flex;
                            flex-direction: column;
                        }

                    }

                }
            }
        }

        .add-review-container {

            h2 {
                color: black;
                text-decoration: underline;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            form {

                textarea {
                    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
                    max-height: 150px;
                    font-family: OpenSans, serif;
                    color: black;
                    border: 1px solid rgb(56, 56, 56);
                    border-radius: 14px;

                }

                .block {
                    display:flex;
                    justify-content: space-between;
                    .demonstration {
                        font-family: OpenSans, sans-serif;
                        font-weight: bold;
                    }

                    .el-rate {
                        margin-bottom: 10px;
                    }


                    button {
                        width: 152px;
                        height: 40px;
                        background-color: #fff;
                        color: #606266;
                        border: 1px solid #DCDFE6;
                        border-radius: 4px;
                        transition: .1s;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    button:hover {
                        background-color: #b9f7ff66;
                        color: #6767ff;
                    }
                }
            }
        }

        h2 {
            text-transform: capitalize;
            font-family: OpenSans, serif;
            text-decoration: underline;
        }
    }
}