.tour-app {
    .hero-container {
        height: 600px;

        img {
            object-fit: cover;
            background-attachment: fixed;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: $main-padding;
        margin-top:60px;

        li {
            .category-card {
                @include aspect-ratio(100, 100);
                width: 300px;

                img {
                    border-radius: 10px;
                    // object-fit: cover;
                }
            }
        }

        li:not(:last-child) {
            margin-right: 20px;
        }
    }
}