.tour-preview {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 0 0 #cecece;
    &:hover {
        cursor: pointer;
        h3 {
            color: $main-clr;
        }
        .preview-img-container {
            img {
                transform: scale(1.1);
            }
        }
    }
    .preview-img-container {
        width: 100%;
        @include aspect-ratio(100, 80);
        img {
            transition: transform 0.5s;
            border-radius: 5px;
            height: 17rem;
        }
    }
    .reviews-length {
        color: $muted;
        font-size: 14px;
    }
    .el-icon-star-on {
        color: $main-clr;
    }
    .mini-user-container {
        align-items: center;
        display: flex;
        .mini-user-img {
            width: 40px;
            height: 40px;
            margin: 5px 5px 5px 0;
            @include aspect-ratio(100, 100);
            img {
                border-radius: 50%;
            }
        }
        .mini-user-fullname {
            color: $main-clr-dark;
            transition: 0.2s;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            &:hover {
                text-decoration: underline;
                color: $main-clr-dark;
            }
        }
    }
    .tour-description-container {
        .little-container {
            display: flex;
            justify-content: space-between;
        }
    }
    h3 {
        color: $black;
        transition: color 0.3s;
    }
    p {
        color: $muted;
        i {
            margin-right: 5px;
            font-size: 20px;
        }
    }
    .price-rate-container {
        display: flex;
        justify-content: space-between;
        .price {
            color: $main-clr-dark;
        }
    }
}
