.tour-edit {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #f3f3f3;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    form {
        width: 25rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 10px;
        input {
            width: 100%;
            margin-bottom: 5px;
            // padding-left: 30px;
        }
        textarea{
            resize: none;
        }
        button {
            padding:10px;
            background-color: $main-clr;
            border-radius: 5px;
            outline: none;
            border: none;
            color: white;
        }
    }
}
