.tour-app {
    .hero-container {
        position: relative;
            .tour-filter {
                position: absolute;
                top: 0;
                left: 20rem;
                top: 10rem;
                background-color: green;
            }
    }
}
