.review-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    h2 {
        color: rgb(41, 41, 41);
    }

    .tour-review {
        margin: 0;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin-right: 10px;

                .review {
                    width: 400px;
                    margin-bottom: rem(10px);
                    padding: rem(10px);
                    margin-right: 25px;
                    border-radius: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .ranks-txt {
                        display: flex;
                        flex-direction: column;
                        p {
                            font-size: 17px;
                            text-transform: capitalize;
                            margin-bottom: 10px;

                        }
                        .el-rate {

                            .el-icon-star-on::before {
                                color: $main-clr;
                            }
                            .el-icon-star-off::before {
                                color: $main-clr;
                            }
                        }
                        .review-rate {
                            display: flex;
                            align-items: center;
                            span {
                                font-size: rem(14px);
                                color: $muted;
                            }
                        }
                    }

                    .mini-user {
                        display: flex;
                        margin-bottom: 10px;
                        .mini-user-img {
                            width: 50px;
                            height: 50px;
                            margin: 5px 5px 5px 0;
                            img {
                                border-radius: 50%;
                            }
                        }

                        .mini-user-details {
                            display: flex;
                            flex-direction: column;
                            font-size: 18px;
                            margin-left: 7px;

                            a {
                                color: $main-clr-dark;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .add-review-container {
            width: 30rem;
            h2 {
                color: black;
                text-transform: capitalize;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, serif;
            }

            form {
                textarea {
                    max-height: 150px;
                    font-family: OpenSans, serif;
                    color: black;
                    border: 1px solid rgb(56, 56, 56);
                    border-radius: 5px;
                    width: 30rem;
                    margin-bottom: 10px;
                }

                .block {
                    display: flex;
                    margin-bottom: 10px;
                    justify-content: space-between;
                    .rate-block {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                    .demonstration {
                        font-family: OpenSans, sans-serif;
                        font-weight: bold;
                        margin-right: 10px;
                    }

                    .el-rate {
                        .el-icon-star-on::before {
                            color: $main-clr;
                        }
                        .el-icon-star-off::before {
                            color: $main-clr;
                        }
                    }
                    button {
                        width: 152px;
                        height: 40px;
                        background-color: #fff;
                        color: #606266;
                        border: 1px solid #dcdfe6;
                        border-radius: 4px;
                        transition: 0.1s;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    button:hover {
                        background-color: #b9f7ff66;
                        color: #6767ff;
                    }
                }
            }
        }
    }
}
