.tour-app {
    .hero-container {
        .tour-filter {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: white;
            height: 70px;
            width: 60rem;
            max-width: 50rem;
            border-radius: 50px;
            margin-bottom: 5rem;
            form {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 20px;
                align-items: center;
                color: #758b85;
                border-radius: 5px;

                input,
                .el-date-editor {
                    border-radius: 50px;
                    border: none;
                    color: $main-clr;
                    ::placeholder {
                        color: #758b85;
                        opacity: 1;
                    }
                }
                .el-button {
                    color: white;
                    background-color: $main-clr;
                }
                .dest-input {
                    width: 200px;
                    ::placeholder {
                        color: #758b85;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.tour-explore .tour-filter {
    .range-box-modal {
        top: 140px;
        right: 240px;
    }
}

.hero-container .tour-filter {
    .range-box-modal {
        top: 0px;
        right: 0px;
    }
}

.hero-container .tour-filter,
.tour-explore .tour-filter {
    .range-box-modal {
        position: absolute;
        margin-top: 16rem;
        margin-right: 14rem;
        width: 350px;
        height: 200px;
        z-index: 1;
        border: 1px solid $main-clr;
        color: $main-clr;
        background: #fff;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 20px;
        .price-ok-btn {
            margin-top: 10px;
        }
        .price-box-container {
            display: flex;
            align-items: center;
            justify-content: center;
            .min-box,
            .max-box {
                font-size: 13px;
                border-radius: 12px;
                border: solid 1px $main-clr;
                padding: 5px;
                width: 80px;
                margin: 0 12px;
                text-align: left;
                span {
                    font-size: 18px;
                }
            }
        }
        .el-slider {
            width: 100%;
            .el-slider__runway .el-slider__bar {
                background-color: $main-clr;
            }
            .el-slider__button {
                border: 2px solid $main-clr;
            }
        }
    }
}
