.tour-details {
    margin: 0 auto;
    // background-color: rgb(255, 253, 253);
    height: 100%;
    display: grid;



    .details-container-primary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 40px;

        .el-rate {
            display: inline;
            text-shadow: 0.5px 0.5px 0.5px black;
            color: rgb(214, 214, 54);
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-inline-start: 110px;
        }

        h5 {
            color: $muted;
            font-weight: bold;
        }

        h2 {
            .reviews-length {
                color: $muted;
                font-size: rem(14px);
                margin-left: 4px;
            }
        }
    }



    .images-container {
        margin: 0 auto;
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px 5px;
        grid-template-areas:
            "first-img first-img img-2 img3"
            "first-img first-img  img4 img5";
    }

    .first-img {
        grid-area: first-img;

        img {
            height: 92%;
            object-fit: cover;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

    }

    .img-2 {
        grid-area: img-2;

        img {
            height: 100%;
        }

    }

    .img3 {
        grid-area: img3;

        img {
            height: 100%;
            border-top-right-radius: 12px;
        }

    }

    .img4 {
        grid-area: img4;
    }

    .img5 {
        grid-area: img5;

        img {
            border-bottom-right-radius: 10px;
        }
    }

    .order-details-container {
        display: flex;
        justify-content: space-between;
        margin: -230px auto;
        margin-inline-end: rem(100px);
        margin-inline-start: rem(100px);
        height: 500px;

        .details-container-secondry {

            border-radius: 14px;
            height: 85%;
            width: 57%;
            display: flex;
            flex-direction: column;
            line-height: 40px;

        }

        .tour-order {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
            border: 1px solid lightgray;
            border-radius: 14px;
            height: 55%;
            padding: 24px;

            *> {
                margin-bottom: 20px;
            }


            .form-order-main-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -20px;

                h2 {

                    i {
                        font-size: rem(16px);
                        color: rgb(214, 214, 54);
                        text-shadow: 0 1px 0 rgb(22, 21, 21);
                    }

                    .reviews-length {
                        font-size: rem(14px);
                        color: $muted;
                    }
                }

            }

            form {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                margin-left: 10px;
                margin-right: 10px;

                form:not(:first-child) {
                    align-items: center;
                }

                button {
                    width: 70%;
                    align-self: center;
                    margin-top: 20px;
                    text-align: center;
                }
            }

            // input {
            //     width: 209px;
            //     margin-left:20px;
            // }

            textarea {
                height: 80px;
                resize: none;
                margin-top: 10px;
            }
        }
    }
}