@media (max-width: 880px) {
    .tour-explore {
        .tour-filter {
            padding: 0 20px;
            height:fit-content;
            form {
                display: flex;
                flex-direction: column;
            }
        }
        .tour-list {
            padding: 0 20px;
        }
    }
}
