.tour-edit {
    background-color: #fff;
    // background-image: url('@/assets/img/signup-img.jpg');
    // background-image: url(@/assets/img/signup-img.jpg);
    // background-image: url(../../assets/img/signup-img.jpg);
    // background-image: url('../../assets/img/signup-img.jpg');
    // display: flex;
    // flex-direction: column;
    margin: 20px auto 0;
    background-color:$main-clr;
    // border:1px solid $main-clr;
    width: 100%;
    color:$black;
    // height: 30rem;
    border-radius: 10px;
    .edit-background-image-container{
        z-index:1;
        position: relative;
    }
    form {
        background-color: #fffafadb;
        position: absolute;
        top: 100px;
        left: 100px;
        width: 40rem;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding:20px;
        div.el-form-item{
            display: flex;
            align-items: center;
            .upload-images{
                display: inline;
            }

        }
        .input-number{
            width: 200px;
        }
        .file-input{
            // opacity: 0;
            display: none;
        }
        &>*{
            margin-bottom:20px;
        }
        i.fas{
            font-size: 40px;
            color: $main-clr;
            cursor: pointer;
        }
        input {
            width: 100%;
            // margin-bottom: 5px;
            // padding-left: 30px;
        }
        textarea{
            resize: none;
        }
        button {
            padding:15px;
            background-color: $main-clr;
            border-radius: 5px;
            outline: none;
            border: none;
            color: snow;
            transition: .3s;
            &:hover{
                background-color: snow;
                color: $main-clr;
                box-shadow: 0 0 1px 1px $main-clr;


                // background-color: $main-clr;
                // color: snow;
                // opacity: 85%;
            }
        }
    }
}
