.tour-app {
    .hero-container {
        height: 580px;

        img {
            object-fit: cover;
            background-attachment: fixed;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .preview-container {
        margin: 0;
        ul {
            grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
            li {
                // width: 20rem;
            }
        }
    }

    .countries-container,
    .guides-container,
    .tours-container {
        margin-bottom: 70px;
    }


    .countries-container,
    .guides-container,
    .tours-container {
        padding: $main-padding;
        button {
            color: $main-clr;
            position: absolute;
            right: 10px;
            &:hover {
                background-color: $main-clr;
                opacity: 0.4;
                color: white;
            }
        }
    }

    .countries-title,
    .guides-title,
    .tours-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px 0;
        .el-button {
            margin-inline-end: 100px;
            margin-top: 10px;
        }

        h1 {
            font-size: 30px;
            color: $main-clr;
        }
    }


    .tours-title {
        font-size: 30px;
        color: $main-clr;
    }

    .guides-container .guides {
        max-width: 35rem;
        li {
            margin-left: 5px;
        }
    }

    .countries,
    .guides {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-gap: 6px;

        li {
            text-align: center;
            a:hover {
                color: $main-clr;
            }

            .category-card {
                @include aspect-ratio(80, 80);

                img {
                    border-radius: 10px;
                }
            }

            .avatar-card {
                @include aspect-ratio(100, 100);

                img {
                    border-radius: 50%;
                }
            }
        }
    }
}

@include for-mobile-layout {
    .categories {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
