.tour-details {
    margin: 0 auto;
    display: grid;
    padding: $main-padding;
    .details-container-primary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 40px;

        .el-rate {
            display: inline;
            text-shadow: 0.5px 0.5px 0.5px black;
            color: #42ABA7;
        }

        h5 {
            color: $muted;
            font-weight: bold;
        }

        h2 {
            .reviews-length {
                color: $muted;
                font-size: rem(14px);
            }
        }
    }



    .images-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-template-areas:
            "first-img first-img img-2 img3"
            "first-img first-img  img4 img5"
    }

    img {
        object-fit: cover;
    }

    .first-img {
        grid-area: first-img;

        img {
            height: 90%;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

    }

    .img-2 {
        grid-area: img-2;

        img {
            height: 100%;
        }

    }

    .img3 {
        grid-area: img3;

        img {
            height: 100%;
            border-top-right-radius: 12px;
        }

    }

    .img4 {
        grid-area: img4;

        img {
            height: 79.8%;
        }
    }

    .img5 {
        grid-area: img5;

        img {
            height: 79.8%;
            border-bottom-right-radius: 10px;
        }
    }

    .order-details-container {
        display: flex;
        justify-content: space-between;
        height: 500px;

        .details-container-secondry {
            border-radius: 14px;
            height: 85%;
            width: 57%;
            display: flex;
            flex-direction: column;
            line-height: 40px;

            .tour-members {
                color: $muted;
                font-size: 1rem;
            }

            .icons-container {
                display: flex;

                :not(:first-child) {
                    margin-left: 12px;
                }

                .display-icons {
                    display: flex;
                    align-items: center;

                    h4 {
                        color: $muted;
                        font-size: 0.8rem;
                    }

                    i {
                        color: #42ABA7;
                    }

                }



            }
        }

        .tour-order {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
            border: 1px solid lightgray;
            border-radius: 14px;
            height: 55%;
            padding: 24px;
            position: sticky;


            .form-order-main-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .el-input-number__decrease, .el-input-number__increase {
                    border-radius: 50%;
                }
                h2 {

                    i {
                        font-size: rem(16px);
                        color: #42ABA7;
                        text-shadow: 0 1px 0 rgb(22, 21, 21);
                    }

                    .reviews-length {
                        font-size: rem(14px);
                        color: $muted;
                    }
                }

            }

            form {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                form:not(:first-child) {
                    align-items: center;
                }

                button {
                    width: 70%;
                    align-self: center;
                    margin-top: 20px;
                    text-align: center;
                }
            }

            textarea {
                height: 80px;
                resize: none;
                margin-top: 10px;
            }
        }
    }
}