.tour-preview {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;

    box-shadow: 0 0 0 0 #cecece;
    &:hover {
        cursor: pointer;
        h3 {
            color: $main-clr;
        }
        .preview-img-container {
            img {
                transform: scale(1.1);
            }
        }
    }
    .preview-img-container {
        overflow: hidden;
        display: flex;
        margin-bottom: 10px;
        img {
            height: 14rem;
            object-fit: cover;
            transition: transform 0.5s;
            border-radius: 5px;
        }
    }
    .reviews-length {
        color: $muted;
        margin-left: 4px;
    }
    .el-icon-star-on {
        color: $main-clr;
        margin: 0;
    }
    .mini-user-container {
        align-items: center;
        display: flex;
        padding-left: 10px;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 100%;
        background: #ffffffdb;
        .mini-user-img {
            width: 35px;
            height: 35px;
            margin: 5px 5px 5px 0;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                box-shadow: 0 0 0 1pt white;
                border-radius: 50%;
            }
        }
        .mini-user-fullname {
            color: $main-clr-dark;
            transition: text-decoration 0.2s;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .tour-description-container {
        line-height: 1.2;
        .little-container {
            margin-top: 8px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
        }
    }
    h3 {
        font-family: LibreFranklin;
        color: $black;
        transition: color 0.3s;
        font-size: 17px;
        line-height: 25px;
    }
    p {
        font-family: LibreFranklin-lighter;
        color: $muted;
        i {
            margin-right: 5px;
            font-size: 20px;
        }
    }
    .price-rate-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            display: flex;
            align-items: center;
            color: $main-clr;
            font-weight: bold;
        }
        .price {
            color: $main-clr-dark;
        }
        span {
            font-weight: lighter;
            color: $muted;
        }
    }
}
