.user-profile {
    display: flex;
    height: 700px;
    margin: 40px 0 40px 0;
    padding: $main-padding;
    .left-container {
        height: 400px;
        // box-shadow: #63636333 0px 2px 8px 0px;
        border: 1px solid rgb(211, 211, 211);
        padding: 80px;
        border-radius: 5px;
        .avatar {
            height: 10rem;
            width: 10rem;

            img {
                border-radius: 50%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
    .right-container {
        .user-title {
            margin-bottom: 30px;
        }
        margin-left: 80px;
        h1 {
            font-size: 40px;
        }
    }
}
