.user-profile{
    .tour-preview{
        max-width: unset;
    }
    .left-container{
        padding:30px 0;
        .confirmed{
            color:$main-clr;
        }
        .declined{
            color:#fd5656;
        }
        .request{
            color: $muted;
            font-size:14px;
        }
        .sticky{
            position: sticky;
            top:10px;
        }
        .requests-container{
            display: flex;
            flex-direction: column-reverse;
            position: sticky;
            .request-card{
                position: relative;
                .el-badge{
                    position: absolute;
                    top: -6px;
                    right:-6px;
                    sup{
                        width: 20px;
                        height: 20px;
                        background-color: $main-clr;
                    }
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                border:1px solid rgb(170, 170, 170);
                padding:20px;
                border-radius:10px;
                margin-bottom:15px;
                button{
                    padding:5px;
                    border:none;
                    &.btn-decline{
                        background-color: #fd5656;
                        color: white;
                        :hover{
                            opacity: 80%;
                        }
                    }
                    &.btn-confirm{
                        background-color: $main-clr;
                        color: white;
                        :hover{
                            opacity: 80%;
                        }
                    }
                }
                img{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                object-fit: cover;
                                margin-right:10px;
                }
                .order-details-container{
                    display: flex;
                    align-items: center;
                    color:$black;
                    .details{
                        display: flex;
                        flex-direction: column;
                    }
                    .link{
                        color:$main-clr;
                        text-decoration: underline;
                    }
                    p{
                        margin-bottom: 5px;
                    }
                    span{
                        text-transform: capitalize;
                    }
                }
                .mini-details{
                    color:$muted;
                    line-height: 1;
                    font-size: 12px;
                    display: flex;
                    >*:not(:first-child){
                        margin-inline-start: 5px;
                    }
                }
                .btn-container{
                    display: flex;
                    align-items: flex-start;
                    height: 50%;
                }
            }
        }
    }
    .right-container{
        h2{
            text-align: center;
        }
        padding:30px 0;
        .chart-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 100px;
            .chart{
                width: 50%;
                margin-bottom: 10px;
                // grid-column: -2/-1;
            }
            .chart-details{
                p{
                    color:$muted;
                    span{
                        color:$main-clr;
                    }
                }
            }
        }
        .user-created-tours{
            display: grid;
            grid-template-columns: 1fr ;
            grid-gap: 20px;
        }
        h2{
            margin-bottom: 40px;
            font-size: 35px;
        }
    }
    display: grid;
    grid-gap:40px;
    grid-template-columns: 1fr 0.7fr ;
    p.sub-header{
        color: $muted;
        margin-bottom: 5px;
    }
    .avatar{
        margin-bottom:50px;
        display: flex;
        align-items: center;
        span{
            margin-left:20px;
        }
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    h3{
        margin-bottom: 10px;
        font-size: 25px;
        color:$black;
    }
    padding:$main-padding;
    .tour-preview.preview-img-container {
        img{
            object-fit: cover;
        }
    }
}