.user-profile{
    .tour-preview{
        max-width: unset;
    }
    .left-container{
        padding:30px 0;
        .confirmed{
            color:$main-clr;
        }
        .declined{
            color:red;
        }
        .requests-container{
            .request-card{
                border:1px solid rgb(170, 170, 170);
                border-radius:10px;
                padding:20px;
                margin-bottom:15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    padding:5px;
                    border:none;
                    &.btn-decline{
                        background-color: #fd5656;
                        color: white;
                        :hover{
                            opacity: 80%;
                        }
                    }
                    &.btn-confirm{
                        background-color: $main-clr;
                        color: white;
                        :hover{
                            opacity: 80%;
                        }
                    }
                }
                img{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                object-fit: cover;
                                margin-right:10px;
                }
                .order-details-container{
                    display: flex;
                    align-items: center;
                    color:$black;
                    .details{
                        display: flex;
                        flex-direction: column;
                    }
                    .link{
                        color:$main-clr;
                        text-decoration: underline;
                    }
                    p{
                        margin-bottom: 5px;
                    }
                    span{
                        text-transform: capitalize;
                    }
                }
                .mini-details{
                    color:$muted;
                    line-height: 1;
                    font-size: 12px;
                    display: flex;
                    >*:not(:first-child){
                        margin-inline-start: 5px;
                    }
                }
                .btn-container{
                    display: flex;
                    align-items: flex-start;
                    height: 50%;
                }
            }
        }
    }
    .right-container{
        h2{
            text-align: center;
        }
        padding:30px 0;
        .chart-container{
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            .chart{
                width: 50%;
                // grid-column: -2/-1;
            }
        }
        .user-created-tours{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-gap: 20px;
        }
        h2{
            margin-bottom: 40px;
            font-size: 35px;
        }
    }
    display: grid;
    grid-gap:40px;
    grid-template-columns: 1.3fr 2fr ;
    p.sub-header{
        color: $muted;
        margin-bottom: 5px;
    }
    .avatar{
        margin-bottom:50px;
        display: flex;
        align-items: center;
        span{
            margin-left:20px;
        }
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    h3{
        margin-bottom: 10px;
        font-size: 25px;
        color:$black;
    }
    padding:$main-padding;
    .tour-preview.preview-img-container {
        img{
            object-fit: cover;
        }
    }
}








// .user-profile {
    // display: flex;
    // height: 700px;
    // margin: 40px 0 40px 0;
    // padding: $main-padding;
    // .left-container {
    //     // box-shadow: #63636333 0px 2px 8px 0px;
    //     // height: 400px;
    //     padding: 20px;
    //     border-radius: 5px;
    //     .orders-container{
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-evenly;
    //         .order-preview{
    //             border:1px solid $main-clr;
    //             padding:20px;
    //         }
    //         &>*:not(:first-child){
    //         margin-block-start: 30px;
    //         }
    //     }
    //     .avatar {
    //         height: 10rem;
    //         width: 10rem;

    //         img {
    //             border-radius: 50%;
    //             object-fit: cover;
    //             height: 100%;
    //         }
    //     }
    // }
    // .right-container {
    //     // .user-created-tours{
    //     //     height: 400px;
    //     // }
    //     .user-title {
    //         margin-bottom: 30px;
    //     }
    //     margin-left: 80px;
    //     h1 {
    //         font-size: 40px;
    //     }
    // }
// }
